<!DOCTYPE html>
<html lang="en" ng-app="BookmarksApp" ng-controller="BookmarksController">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="bookmarks.js"></script>
  <title>{{title}}</title>
</head>
<body>

<script type="text/ng-template" id="list.html">
    <div ng-repeat="bm in bookmarks track by bm.id">
      <div>
           {{bm.id}} {{bm.create_date}} - <a href="{{bm.url}}" target="_blank">{{bm.title || bm.url}}</a> <button ng-click="open_editor($index)">edit</button> <button ng-click="delete($index)">del</button>
           <span ng-repeat="t in bm.tags" track by $index><button class="btn btn-primary btn-xs" ng-click="show_tag(t)">{{t}}</button> </span>
           <a href="http://twitter.com/home?status={{bm.title}} {{bm.url}}" target="_blank"><img src="img/twitter32px.png"></a>
      </div>
    </div>
</script>


<script type="text/ng-template" id="switch.html">
    <select ng-options="app as app for (app, data) in anystore.apps" ng-model="new_current_app"></select>
    <button class="btn btn-success" ng-click="switch_to()" ng-disabled="!new_current_app">Select Application</button>
    <button class="btn" ng-click="cancel()" ng-show="current_app">Cancel</button>

    <input ng-model="new_app">
    <button class="btn btn-success" ng-click="add_new_app()" ng-disabled="!new_app">Create new Application</button>
</script>

<script type="text/ng-template" id="main.html">
      <button class="btn btn-lg" ng-click="open_editor()">Add</button>
      <button class="btn btn-lg" ng-click="export_data()">Export</button>
      <a href="#/switch">Switch application</a>
      <ng-include src="'list.html'"></ng-include>
</script>

<script type="text/ng-template" id="tag.html">
    <button class="btn btn-lg" ng-click="goto('/')">Main</button>
    Tag {{params.tag}}
    <ng-include src="'list.html'"></ng-include>
</script>

<script type="text/ng-template" id="editor.html">
   <input class="form-control" ng-model="editor.url" placeholder="URL">
   <input class="form-control" ng-model="editor.title" placeholder="Title">
   <input class="form-control" ng-model="editor.tags_string" placeholder="Comma separated tags">
   <button class="btn btn-success" ng-click="save()">Save</button>
   <button class="btn" ng-click="cancel()">Cancel</button>
</script>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"></div>
      <div class="col-md-1"></div>
  </div>

  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <h1>Bookmarks</h1>

   <div ng-view></div>

      </div>
      <div class="col-md-3"></div>
  </div>
</div>

</body>
</html>
