<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="bookmarks.js"></script>
 
</head>
<body ng-app="BookmarksApp" ng-controller="BookmarksController">

<script type="text/ng-template" id="main.html">
      <button ng-click="open_editor()">Add</button>
</script>

 
<script type="text/ng-template" id="editor.html">
   <input ng-model="editor.url" placeholder="URL">
   <button ng-click="save()">Save</button>
   <button ng-click="cancel()">Cancel</button>
</script>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"></div>
      <div class="col-md-1"></div>
  </div>
 
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <h1>Bookmarks</h1>

   <div ng-view></div>
        
      </div>
      <div class="col-md-3"></div>
  </div>
</div>
 
</body>
</html>
